* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #fff;
	--text-color: #22100d;
	--second-color: #685f78;
	--main-color: #f66962;
	--big-font: 3.8rem;
	--h2-font: 2.6rem;
	--p-font: 1.1rem;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 23px 13%;
	transition: all .40s ease;
}

.logo img {
	height: auto;
	max-width: 100%;
	width: 160px;
}

.navbar {
	display: flex;
}

.navbar a {
	color: var(--text-color);
	font-weight: 600;
	font-size: var(--p-font);
	padding: 10px 22px;
	transition: all .40s ease;
}

.navbar a:hover {
	color: var(--main-color)
}

.header-icons {
	display: flex;
	align-items: center;
}

.header-icons i {
	margin-left: 10px;
	font-size: 24px;
	color: var(--text-color);
	transition: all .40s ease;
}

.header-icons i:hover {
	transform: scale(1.2);
	color: var(--main-color);
}

#menu-icon {
	font-size: 34px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section {
	padding: 80px 13%;
}

.home {
	position: relative;
	height: 100vh;
	width: 100%;
	background: url(../img/background.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-items: center;
}

.home-text h1 {
	font-size: var(--big-font);
	margin: 15px 0 15px;
}

.home-text h6 {
	color: var(--main-color);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}

.home-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 500;
	margin-bottom: 48px;
}

.latter form {
	width: 100%;
	max-width: 460px;
	position: relative;
}

.latter form input:first-child {
	display: inline-block;
	width: 100%;
	outline: none;
	padding: 16px 140px 16px 15px;
	border: 2px solid var(--main-color);
	border-radius: 30px;
}

.latter form input:last-child {
	position: absolute;
	display: inline-block;
	border: none;
	outline: none;
	background-color: var(--main-color);
	color: var(--bg-color);
	padding: 16px 40px;
	border-radius: 30px;
	cursor: pointer;
	top: 1.5px;
	right: 0.8px;
}

.home-img img {
	height: auto;
	width: 100%;
}

header.sticky {
	background-color: var(--bg-color);
	padding: 12px 13%;
	box-shadow: 0px 4px 15px rgba(0, 0, 0 / 8%);
}

.container {
	padding: 70px 13%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
}

.container-box {
	display: flex;
	align-items: center;
	gap: 1.8rem;
	border: 1px solid #e9ecef;
	border-radius: 20px;
	padding: 20px 30px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
	transition: all .40s ease;
}

.container-box:hover {
	transform: translateY(-15px);
}

.container-text h4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 4px;
}

.container-text p {
	font-size: var(--p-font);
	color: var(--second-color);
	font-weight: 500;
}